@import '../../styles/colors.scss';
@import '../../styles/elements.scss';

.registerValidation {
    font-size: $default-font-size;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}