@import './colors.scss';

$default-font-size: 18px;

form {
    width: 350px;
    border: 1px solid $border-color;
    padding: 12px;

    h3 {
        font-weight: 400;
        font-size: 24px;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;

        label {
            font-weight: 500;
        }

        input {
            font-size: 14px;
            padding: 4px;
            border: none;
            border-bottom: 1px solid $border-color;
        }
    }

    .buttons-group {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: flex-end;

        button{
            font-size: 16px;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }

        button.cancel {
            background-color: $cancel-background;
            &:hover {
                background-color: white;
                border: 2px solid $cancel-background;
            }
        }

        button.positive {
            background-color: $positive-background;
        }

        button.ghost {
            border: 1px solid $border-color;
            background-color: white;
        }
    }
}