@import './colors.scss';

$default-font-size: 18px;

form {
    width: 350px;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;

    h3 {
        font-weight: 400;
        font-size: 24px;
        margin-top: 4px;
    }

    .error-panel {
        border: 2px solid $cancel-background;
        border-radius: 5px;
        color: $cancel-background;
        padding: 8px;
        font-size: 12px;
        margin-bottom: 12px;

        h6 {
            font-size: 14px;
            font-weight: 500;
        }

        * {
            margin: 0;
            padding: 0;
        }
    }

    .success-panel {
        border: 2px solid $positive-background;
        border-radius: 5px;
        color: $positive-background;
        padding: 8px;
        font-size: 12px;
        margin-bottom: 12px;

        h6 {
            font-size: 14px;
            font-weight: 500;
        }

        * {
            margin: 0;
            padding: 0;
        }
    }

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;

        label {
            font-weight: 500;
        }

        input {
            font-size: 14px;
            padding: 4px;
            border: none;
            border-bottom: 1px solid $border-color;
        }
    }
}

.buttons-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-end;

    button {
        font-size: 16px;
        border-radius: 5px;
        padding: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    button.cancel {
        background-color: $cancel-background;

        &:hover {
            background-color: white;
            border: 2px solid $cancel-background;
        }
    }

    button.positive {
        background-color: $positive-background;
    }

    button.ghost {
        border: 1px solid $border-color;
        background-color: white;
    }
}