.home {
    background: linear-gradient(#e2e0e0 10%, white);

    .tshirtGrid {
        padding: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px
    }
}