.checkout {
    .container {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            font-family: sans-serif;
            min-width: 600px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

            thead {

                tr {
                    background-color: #009879;
                    color: #ffffff;
                    text-align: left;
                }
            }

            tfoot {
                tr {
                    td {
                        text-align: right;
                    }
                }
            }

            th,
            td {
                padding: 12px 15px;
            }

            button {
                margin: 0 6px;
                width: 36px;

                &:hover {
                    background-color: white;
                    cursor: pointer;
                }
            }
        }
    }
}