@import '../../styles/colors.scss';

.header {
    height: 48px;
    border-bottom: 1px solid $border-color;
    background-color: white;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons-group {
        margin: 8px;
    }
}